# macOS
.DS_Store

# Simulation outputs
sim/*.vvp
sim/*.out
sim/*.vcd
sim/*.fst
sim/*.log
obj_dir/
coverage.dat
sim/coverage.dat
sim/cov_annotated/
*.jou
*.wdb
xsim.dir/
work/
transcript
vsim.wlf
ucdb/
*.ucdb
